*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
h1{
  margin-top: 20px;
}
.noLine{
  text-decoration: none;
}
.inline{
  display: inline-block;
}
.left{
  float:left;
}
